html,
body,
p {
  overflow: hidden;
  overflow-anchor: none;
}

body {
  background-color: #000;
}

body,
p {
  margin: 0;
}

p {
  background-image: url('static/didi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: text;
  background-attachment: fixed;
  text-align: justify;
  color: transparent;
  font-size: 12px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
